In [1]:
# what is tuple
# tuple is a data structured in python used to store multiple items in a single variable
# Ordered → items have a fixed position
# Immutable → you cannot change items after creation
# Can store different data types
# Created using ( ) parentheses
# in case we want to changes items we can use list casting and convert to list and again converting to tuple
# creating a tuple
number = (12,45,87,99)
print(type(number))

<class 'tuple'>

In [112]:
# tuples with mixed data
name = ('ravi','7.0','65','5.9')

65

In [6]:
# tuple with one item /must put comma 
fruit = ('banana',)

<class 'tuple'>

In [7]:
# unpacking tuple
name = ('ravi','65','4.84','5.9')
name,weight,gpa,height = name
print(gpa)

4.84

In [8]:
# looping through tuple
fruits = ('kiwi','mango','apple','orange')
for f in fruits:
    print(f)

kiwi
mango
apple
orange

In [114]:
# tuple inside a tuple/nested tuple/here the second nest in in index 2
nested = (1, 2, (3, 4, 5))
print(nested[2][2])

5

In [ ]:
# use a tuple when we dont want to change the data

In [32]:
# what is set 
# a set in python is acollection of items that is :
# unordered (no index position)
# unique (no duplicates allowed)
# mutable (we can add/remove items)
# syntax = {}
# we use sets to remove duplicates
# when order is doesnt mattee
# removing duplicates
num = {1,22,22,55,55,65,67,88,88}
unique_numbers = num
print(unique_numbers)

{65, 1, 67, 22, 55, 88}

In [35]:
# adding and removing set
n = {10,20,30}
n.add(40)
n.remove(20)

{40, 10, 30}

In [38]:
# checking if an item exists in set
print(150 in n)

False

In [39]:
# we use set for when we want ont unique value not cars about order
# we can remove duplicates easily
email = {'ravi@12gmail.com','surya@12gmail.com','ravi@12gmail.com'}
new_email = email
print(new_email)

{'surya@12gmail.com', 'ravi@12gmail.com'}

In [ ]:
# main thing use discard to avoid any crash insted of using remove 
# we use discard when we dont know the value if it is present in the set or not

In [52]:
# dictnary 
# a dictinary is a collection od data in key value pairs.
# each key is unique
# each key has a value
# written using {}
# values can be any data type(string,int,list,tuples)
student1 = {'name':"ravi",'age':"24",'course': "python"}
student1['course']
student1['age'] = 26
student1['age']

26

In [53]:
# keys()
student1.keys()

dict_keys(['name', 'age', 'course'])

In [54]:
# values()
student1.values()

dict_values(['ravi', 26, 'python'])

In [56]:
# items()
student1.items()

dict_items([('name', 'ravi'), ('age', 26), ('course', 'python')])

In [57]:
# looping through keys:
for key in student1:
    print(key)

name
age
course

In [61]:
# looping through keys,values
for k,v in student1.items():
    print(k,v)

name ravi
age 26
course python

In [68]:
# we can store multiple items or values in dict()
# also called as nested dict
classroom = {
1:{ "name": "raviteja","age":24,"course":"python"},
2:{"name":"suryateja","age":27,"course":"python"}
}
print(classroom[2]["age"])

27

In [75]:
# dict comprension
# dictionary comprension is a short and clean wY TO CREATE DICTIONARY using a single line od code
# {key : value for item in something}
# converting two list into a dict
keys = ["product" , "price"]
values = ["laptop",1200]
result= {k: v for k, v in zip(keys ,values)} 
print(result)

{'product': 'laptop', 'price': 1200}

In [88]:
# without comprension 
squares  = {}
for i in range(5):
    squares[i] = i ** 2 
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [85]:
# with comprension
squares = {i: i * 2 for i in range(5)}
print(squares)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
# dictinoar comprension lets you build dictinoaries quckily and clearly in one line

In [99]:
# shallow copy > copies only the outer structure
# deep copy > copies everything (outer + inner abjects)
# if we change inner data > both changes 
# shallow copy
# change innner element
a  = [[1,2],[3,4]]
b = a.copy()

b[1][0] = 108      
print(a)
print(b)

[[1, 2], [108, 4]]
[[1, 2], [108, 4]]

In [108]:
# deep copy
# copies the entire structure
# inner lists/dicts get new copies
# changes do not affect the orginal
import copy
d = copy.deepcopy(c)
c = [[4,5],[6,7]]
d = copy.deepcopy(c)

d[0][1] = 29
print(c)
print(d)
# only d changed
# deep copy create a completely independent object

[[4, 5], [6, 7]]
[[4, 29], [6, 7]]

In [115]:
# what is function
# a function is a block of code that runs only when we call it
# we create it once and reuse it many times
# why do we use function?
# to avoid repeating code(reusabiliy)
# whthout a function
print('hello')
print('hello')
print('hello')

hello
hello
hello

In [119]:
# with a function
def greet():
    print('hello,world')
greet()
greet()
greet()
# if we want to change something we can just change one time

hello,world
hello,world
hello,world

In [131]:
# define the function we cam use it to multiplay,division,addition,sub,what ever we want we have to define at the return function
def add(a,b):
    return a + b 
result = add(2,4)
print(result)

6

In [133]:
# real - time example
# without function here we have to specify the price and quantity always 
price = 50
quantity = 2
total = price * quantity
print(total)

100

In [134]:
# with function
# here i specified at the print function itself not like before the function 
def calculate_total(price , quantity):
    return price * quantity
print(calculate_total(34,48))

1632

In [145]:
# another real-time example like atm
def withdraw(balance,amount):
    if amount <= balance:
        return balance - amount
    else:
        return "insufficient funds"
print(withdraw(150000,149999))

1

In [147]:
# what is print
# it is for only display not for calculation
# example:
def add(a,b):
    print(a + b)
add(3,8)
add(4,9)
# the function does not give back the value to the program
# we cannot reuse it or store it

11
13

In [154]:
# return
# return sends the value back to the caller
# it gives the result to the program so we can store it,use it,calculate with it
def add(a,b):
    return a + b
result = add(5,3)
print(result)
# here i can use what ever tge math function i want to use within the print parameter

68719476736

In [170]:
 # prime number function
def is_prime(n):
    if n <= 1:
        return False
    for i in range (2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(2))
print(is_prime(7))

True
True

In [176]:
# real-time example with input
num = int(input("enter a number: "))

if is_prime(num):
    print("prime number")
else:
    print("not a prime number")

enter a number:  2

prime number